<div class="card">
  <div class="card-title-block">
    <!-- Turns cards with map visualisation to link -->
    <ng-container *ngIf="cardData.file.indexOf('mp') !== -1 && cardData.type === 'Visualization'; else noLink">
      <a routerLink="./visualization" (click)="saveObjForVisualizationPage()">
        <h2 class="card-title">{{cardData.title}} ({{cardData.year}})</h2>
      </a>
    </ng-container>
    <ng-template #noLink>
      <h2 class="card-title">{{cardData.title}} ({{cardData.year}})</h2>
    </ng-template>
    <div class="hinder"></div>
    <div class="icon">
      <i class="fas {{getIcon()}}"></i>
    </div>
  </div>
  <!-- if card is visualization it gets an extra class -->
  <div class="card-info">
    <ul class="card-info-content">
      <li class="card-description">
        <div class="descImage" *ngIf="cardData.type != 'Visualization'">

          <!-- TODO: consider different extensions -->
          <ng-container *ngIf="cardData.image != ''; else otherBackgroundImg">
            <span class="descImage_inner" [ngStyle]="{ 'background-image': 'url(../../../assets/images/data/' + cardData.image + '.png)'}"></span>
          </ng-container>
          <ng-template #otherBackgroundImg>
            <ng-container *ngIf="cardData.type == 'link'; else typeDataset">
              <span class="descImage_inner" style="background-image: url(../../../assets/images/data/link.png)"></span>
            </ng-container>
            <ng-template #typeDataset>
              <ng-container *ngIf="cardData.type == 'dataset'">
                <span class="descImage_inner" style="background-image: url(../../../assets/images/data/dataset.png)"></span>
              </ng-container>
            </ng-template>
          </ng-template>
        </div>
        <p>{{cardData.description}}</p>
      </li>
      <li class="card-contributor">
        <div class="descHinder"></div>
        <div class="post">
          <p class="post_title">Posted on <span class="post_date">{{dateTimePosted}}</span></p>

        </div>
        <div class="user">
          <span class="user_image">
            <picture class="profile-picture avatar-s" *ngIf="cardData.contributor">
              <img [src]="cardData.contributor.profilePicture" *ngIf="cardData.contributor.profilePicture">
              <div *ngIf="!cardData.contributor.profilePicture" class="abbreviation">{{cardData.contributor.getAbbreviation()}}</div>
            </picture>
            <picture class="profile-picture avatar-s" *ngIf="!cardData.contributor">
              <img src="../../../assets/images/avatar/user.png">
            </picture>
          </span>
          <!-- TODO add actual organizations name -->
          <span class="user_text" *ngIf="cardData.contributor && cardData.contributor.affiliation">{{cardData.contributor.affiliation}}</span>
          <span class="user_text" *ngIf="!cardData.contributor || !cardData.contributor.affiliation">Unknown</span>
          <div class="hinder"></div>
        </div>
      </li>
      <li class="card-action">
        <div class="action-left">
          <div class="access">
                          <span class="access_icon">
                            <i class="fas fa-globe"></i>
                          </span>
            <span class="access_text">Public</span>
          </div>
          <!-- add download later -->
          <ng-container *ngIf="cardData.type == 'Link' || cardData.type == 'Web Page' || cardData.type == 'Image/Graphic' else otherType">
            <a href="{{cardData.file}}>" class="link-download" target="_blank">
              <div class="icon">
                <i class="fa fa-external-link-alt"></i>
              </div>
              <div class="format">
                <p class="format_header">Format: </p>
                <p class="format_name">{{cardData.format}}</p>
              </div>
            </a>
          </ng-container>
          <ng-template #otherType>
            <a href="assets/datasets/{{cardData.file}}.{{cardData.format}}" class="link-download" download="{{cardData.id}}" >
              <div class="icon">
                <i class="fas fa-download"></i>
              </div>
              <div class="format">
                <span class="format_header">Format: </span>
                <span class="format_name">{{cardData.format}}</span>
              </div>
            </a>
          </ng-template>
        </div>
        <div class="action-right">
          <div class="contact" aria-disabled="true">
            <!-- add action here later -->
            <i class="fas fa-envelope"></i>
          </div>
        </div>
        <div class="hinder"></div>
      </li>
      <li class="card-source">
        <p class="header">Source:</p>
        <p class="content">{{cardData.source}}</p>
      <span class="hinder"></span>
    </li>
    </ul>
  </div>
</div>
