<div class="card">
  <div class="card-title-block">
    <!-- Turns cards with map visualisation to link -->
    <ng-container *ngIf="hasMapVisualizationLink(); else noLink">
      <a routerLink="./visualization" (click)="saveObjForVisualizationPage()">
        <h2 class="card-title">{{dataSet.metaData.title}} ({{dataSet.metaData.year}})</h2>
      </a>
    </ng-container>
    <ng-template #noLink>
      <h2 class="card-title">{{dataSet.metaData.title}} ({{dataSet.metaData.year}})</h2>
    </ng-template>
    <div class="hinder"></div>
    <div class="icon">
      <i class="fas {{getIcon()}}"></i>
    </div>
  </div>
  <!-- if card is visualization it gets an extra class -->
  <div class="card-info">
    <ul class="card-info-content">
      <li class="card-description">
        <div class="descImage">
          <!-- TODO: consider different extensions -->
          <ng-container *ngIf="hasThumbnail">
            <img src="https://vll.floris.amsterdam/static/thumbnails/' + dataSet.id + '.jpeg" (error)="hasNoThumbnail()" style="display: none">
            <span class="descImage_inner" [ngStyle]="{ 'background-image': 'url(https://vll.floris.amsterdam/static/thumbnails/' + dataSet.id + '.jpeg)'}"></span>
          </ng-container>
        </div>
        <p>{{dataSet.metaData.description}}</p>
      </li>
      <li class="card-contributor">
        <div class="descHinder"></div>
        <div class="post">
          <p class="post_title">Posted on <span class="post_date">{{dateTimePosted}}</span></p>

        </div>
        <div class="user">
          <span class="user_image">
            <picture class="profile-picture avatar-s" *ngIf="hasContributor()">
              <img [src]="cardData.contributor.getProfilePictureURL()" *ngIf="cardData.contributor.hasExternalProfilePicture">
              <div *ngIf="!cardData.contributor.hasExternalProfilePicture" class="abbreviation">{{cardData.contributor.getAbbreviation()}}</div>
            </picture>
            <picture class="profile-picture avatar-s" *ngIf="!contributor">
              <img src="../../../assets/images/avatar/user.png">
            </picture>
          </span>
          <span class="user_text" *ngIf="hasAffiliation()">{{contributor.affiliation}}</span>
          <span class="user_text" *ngIf="!hasAffiliation()">Unknown</span>
          <div class="hinder"></div>
        </div>
      </li>
      <li class="card-action">
        <div class="action-left">
          <div class="access">
                          <span class="access_icon">
                            <i class="fas fa-globe"></i>
                          </span>
            <span class="access_text">Public</span>
          </div>
          <!-- add download later -->
          <ng-container *ngIf="isCertainDataType() else otherType">
            <!-- TODO add file download link -->
            <a href="" class="link-download" target="_blank">
              <div class="icon">
                <i class="fa fa-external-link-alt"></i>
              </div>
              <div class="format">
                <p class="format_header">Format: </p>
                <!-- TODO get dataset format -->
                <p class="format_name">JSON</p>
              </div>
            </a>
          </ng-container>
          <ng-template #otherType>
            <!-- TODO link to download -->
            <a href="" class="link-download" download="{{dataSet.id}}" >
              <div class="icon">
                <i class="fas fa-download"></i>
              </div>
              <div class="format">
                <span class="format_header">Format: </span>
                <!-- TODO get dataset format -->
                <span class="format_name">Format</span>
              </div>
            </a>
          </ng-template>
        </div>
        <div class="action-right">
          <div class="contact" aria-disabled="true">
            <!-- add action here later -->
            <i class="fas fa-envelope"></i>
          </div>
        </div>
        <div class="hinder"></div>
      </li>
      <li class="card-source">
        <p class="header">Source:</p>
        <p class="content">{{dataSet.metaData.source}}</p>
      <span class="hinder"></span>
    </li>
    </ul>
  </div>
</div>
