<footer class="l-footer">
  <div class="l-footer_left">
    <span class="l-footer_left_copyright">
      &copy; 2020 Vitality Living Lab
    </span>
    <span>&bull;</span>
    <span> <a routerLink="../terms-of-service" target="_blank">Terms of service</a></span>
  </div>
  <div class="l-footer_right">
  </div>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Roboto+Slab">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</footer>
