<div id="page-hinder" aria-hidden="true"></div>
<header class="l-header">
  <div class="l-header_content">
    <div class="l-header_content_left">
      <a href="/">
        <img src="/assets/images/VLL_logo.png" alt="Vitality Living Lab logo" height="56px">
      </a>
    </div>
    <div class="l-header_content_right">
      <div id="dataSystem-title" class="l-header_content_right_title">
        DataSystem
      </div>
      <div class="l-header_content_right_options">
        <a href="/user/me">
          <div class="control-icon">
            <i class="far fa-user-circle"></i>
          </div>
          <span class="user-name">{{user.displayname || ''}}</span>
        </a>
        <div class="control-icon">
          <i class="fas fa-bars fa-lg"></i>
        </div>
      </div>
    </div>
  </div>
</header>