<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
  <div class="login_input">
    <h1 class="title">Log in</h1>
    <label for="email" class="inputTitle"><b>Email</b></label>
    <input type="text" placeholder="Enter email address" name="email" required>
    <div class="login_input_errorMsg" style="margin-bottom: 12px;" *ngIf="message.user">{{message.user}}}}</div>

    <label for="password" class="inputTitle"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" required>
    <div class="login_input_errorMsg" *ngIf="message.password">{{message.password}}</div>

    <input type="submit" class="basic-button blue" style="margin-top: 24px;" value="Log in" />
    <!--  <label class="rememberme">
      <input type="checkbox" checked="" name="remember"> Remember me
    </label> -->

    <div class="login_input_errorMsg" style="margin-top: 12px;" *ngIf="message.generic">{{message.generic}}</div>
  </div>

  <div class="login_alt">
    <a routerLink="/" type="button" class="login_alt_cancel">Cancel</a>
    <span class="login_alt_sep">&nbsp;|&nbsp;</span>
    <a href="#" class="login_alt_cancel">Forgot password?</a>
    <span class="login_alt_sep">&nbsp;|&nbsp;</span>
    <a routerLink="/register" class="login_alt_cancel">Register</a>
  </div>

  <div class="login_errorMsg" aria-hidden="true">Email or password is not correct</div>
</form>
