<input class="edit-button uk-button uk-button-default" type="button" *ngIf="canBeEdited" value="edit" (click)="activateEditMode()">

<section class="flex row center fw profile">
  <picture class="profile-picture">
    <div class="flex center change" (click)="updateEditPfp()">Change</div>
    <img [src]="user.profilePicture" *ngIf="user.profilePicture">
    <div *ngIf="!user.profilePicture" class="abbreviation">{{user.getAbbreviation()}}</div>
  </picture>
  <aside class="flex column displayname">
    <h1>{{user.displayName}}</h1>
    <h3 *ngIf="user.affiliation">{{user.affiliation}}</h3>
    <p *ngIf="user.bio">{{user.bio}}</p>
  </aside>
</section>

<section class="flex column fw datalist">
  <h2>Your data</h2>
  <div class="barred">
    <div *ngIf="dataSets.length === 0" class="nodata-notification">You have no datasets yet, go to the <a [routerLink]="['/upload']">upload page</a> to upload a new dataset.</div>
    <ul *ngIf="dataSets.length > 0">
      <ng-container *ngFor="let dataSet of dataSets">
        <app-datalistitem [dataSet]="dataSet"></app-datalistitem>
      </ng-container>
    </ul>
  </div>
</section>

<section class="flex column fw collections">
  <h2>Collection</h2>
  <span class="description">Collections are one or more datasets bundled in one map, report </span>
  <div class="barred">
    <div *ngIf="dataSets.length === 0" class="nodata-notification">You have no collections yet.</div>
    <ul *ngIf="dataSets.length > 0">
      <ng-container *ngFor="let dataSet of dataSets">
        <app-datalistitem [dataSet]="dataSet"></app-datalistitem>
      </ng-container>
    </ul>
  </div>
</section>
<div class="editor-window" *ngIf="editPfp">
  <app-profile-picture-editor class="profile-picture-editor" (cancel)="cancel($event)"> </app-profile-picture-editor>
</div>
<div class="editor-window" *ngIf="editMode">
  <div class="edit-form">
    <form class="flex column" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" *ngIf="editMode">
      <label class="inputTitle"><b>displayName</b></label>
      <input type="text" [(ngModel)]="displayNameEditMode" name="displayName" placeholder="Display Name">

      <label class="inputTitle"><b>Affiliation</b></label>
      <input type="text" [(ngModel)]="affiliationEditMode" name="affiliation" placeholder="Affiliation">

      <label class="inputTitle"><b>Bio</b></label>
      <input type="text" [(ngModel)]="bioEditMode" name="bio" placeholder="Bio">
      <div class="edit-buttons flex row">
        <input type="submit" value="Save changes" class="save-button uk-button uk-button-primary">
        <input type="button" (click)="deleteAccount()" value="Delete Account" class="delete-button uk-button uk-button-danger">
        <input type="button" (click)="deactivateEditMode()" value="Cancel" class="cancel-button uk-button uk-button-default">
      </div>
    </form>
  </div>
</div>
