<div class="mp1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="ln1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp2-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp3-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp4-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp5-tooltip data-tooltip" aria-hidden="true"></div>

<main class="vizEach">
<section class="vizEach_content" title="{{mpNum.title}}">
  <div class="vizEach_content_title">
    <h1 class="text">{{mpNum.title}} ({{mpNum.year}})</h1>
    <div class="hinder"></div>
  </div>

  <div class="vizEach_content_visframe">
    <div id="{{mpNum.file}}" class="vizEach_content_visframe_canvas"><!-- datavis comes here --></div>
    <!-- Only for "map" visualizations -->
    <ng-container *ngIf="mpNum.file.indexOf('mp') !== -1">
      <!-- if the name of file contains "mp" -->
      <div class="mp-layers" aria-hidden="true">
        <ul class="mp-layers_list" id="on{{mpNum.file}}"></ul>
      </div>

      <!-- selection for air quality data -->
      <!--
      <% if (data[mpNum].file == "mp5") { %>
    <div id="mp5filter" class="filter-general" aria-hidden="false">
      <% } else { %>
      <div id="mp5filter" class="filter-general" aria-hidden="true">
        <% } %>
      <div class="filter-general_select">
        <select id="mp5select">
          <option value="PM1">PM1</option>
          <option value="PM2.5">PM2.5</option>
          <option value="PM10">PM10</option>
          <option value="UFP">UFP</option>
          <option value="Ozone">Ozone</option>
          <option value="NO2">NO2</option>
        </select>
        <div class="filter-arrow"></div>
      </div>
  </div>
  -->

      <div class="map_legend" id="{{mpNum.file}}-legend" aria-hidden="false">
        <!-- add by js -->
        <ng-container *ngIf="mpNum.file == 'mp1' else mp3">
          <span class="map_legend_title">Legend (%)</span>
          <table class="map_legend_table">
            <col width="16">
            <col width="">
            <tr class="value4 row">
              <td class="box"></td>
              <td class="text">70 < 80</td>
            </tr>
            <tr class="value3 row">
              <td class="box"></td>
              <td class="text">60 < 70</td>
            </tr>
            <tr class="value2 row">
              <td class="box"></td>
              <td class="text">50 < 60</td>
            </tr>
            <tr class="value1 row">
              <td class="box"></td>
              <td class="text">40 < 50</td>
            </tr>
            <tr class="noData row">
              <td class="box"></td>
              <td class="text">No data</td>
            </tr>
          </table>
        </ng-container>
        <ng-template #mp3>
          <!--
          if mp5 gets added use this:
         <ng-container *ngIf="mpNum.file == 'mp3' else 'mp5'">
         -->
          <ng-container *ngIf="mpNum.file == 'mp3'">
            <span class="map_legend_title">Legend (Type)</span>
            <table class="map_legend_table">
              <col width="16">
              <col width="">
              <tr class="value7 row">
                <td class="box"></td>
                <td class="text">Allotments</td>
              </tr>
              <tr class="value6 row">
                <td class="box"></td>
                <td class="text">Farm</td>
              </tr>
              <tr class="value5 row">
                <td class="box"></td>
                <td class="text">Forest</td>
              </tr>
              <tr class="value4 row">
                <td class="box"></td>
                <td class="text">Grass</td>
              </tr>
              <tr class="value3 row">
                <td class="box"></td>
                <td class="text">Meadow</td>
              </tr>
              <tr class="value2 row">
                <td class="box"></td>
                <td class="text">Orchard</td>
              </tr>
              <tr class="value1 row">
                <td class="box"></td>
                <td class="text">Park</td>
              </tr>
              <tr class="noData row">
                <td class="box"></td>
                <td class="text">Not Identified</td>
              </tr>
            </table>
          </ng-container>
        </ng-template>
        <ng-template #mp5>
          <ng-container *ngIf="mpNum.file == 'mp5'">
            <div class="content"></div>
            <div class="labels">
              <span class="labels_low">Low</span>
              <span class="labels_mod">Moderate</span>
              <span class="labels_high">High</span>
            </div>
          </ng-container>
        </ng-template>
      </div>
      <!-- Ends-Only for "map" visualizations -->
    </ng-container>

    <div id="{{mpNum.file}}-loader" class="loader" aria-hidden="false">
      <span class="loader_spin" style="background-image: url(../../../assets/images/loader.png)"></span>
    </div>

    </div><!-- vizEach_content_visframe -->

    <div class="vizEach_content_info">
      <ul class="vizEach_content_info_cont">
        <li class="vizEach_content_info_cont_contributor">
          <!-- <div class="descHinder"></div> -->
          <div class="post">
            <span class="post_title">Posted on </span>
            <span class="post_date">{{dateTimePosted}}</span>
          </div>
          <div class="user">
            <div class="user_cont">
          <span class="user_cont_image">
            <picture class="profile-picture avatar-s" *ngIf="mpNum.contributor">
              <img [src]="mpNum.contributor.profilePicture" *ngIf="mpNum.contributor.profilePicture">
              <div *ngIf="!mpNum.contributor.profilePicture" class="abbreviation">{{mpNum.contributor.getAbbreviation()}}</div>
            </picture>
            <picture class="profile-picture avatar-s" *ngIf="!mpNum.contributor">
              <img src="../../../assets/images/avatar/user.png">
            </picture>
          </span>
              <span class="user_cont_text">{{mpNum.contributor.displayName}} ({{mpNum.contributor.affiliation}})</span>
            </div>
          </div>
          <div class="contact">
            <div class="contact_emil" aria-disabled="true">
              <!-- TODO add action here later -->
              <i class="fas fa-envelope"></i>
            </div>
          </div>
        </li>

        <li class="vizEach_content_info_cont_desc">
          <div class="desc-head">
            <!-- <i class="far fa-file-alt"></i> -->
            <span class="text">Description</span>
          </div>
          <div class="desc-cont">
            <p>{{mpNum.description}}</p>
          </div>
        </li>
        <li class="vizEach_content_info_cont_utility">

          <div class="access">
        <span class="access_icon">
          <i class="fas fa-globe"></i>
        </span>
            <span class="access_text">Public</span>
          </div>
          <!-- TODO add download later -->

          <a href="../../../assets/datasets/{{mpNum.file}}.{{mpNum.format}}" class="link-download" download="{{mpNum.id}}" >
            <div class="icon">
              <i class="fas fa-download"></i>
            </div>
            <div class="format">
              <span class="format_header">Format: </span>
              <span class="format_name">{{mpNum.format}}</span>
            </div>
          </a>
          <button id="printSingleDataviz" class="print">
            <i class="fas fa-print"></i>
            <span class="text">Print</span>
          </button>
        </li>
        <li class="vizEach_content_info_cont_source">
          <span class="header">Source</span>
          <span class="content">{{mpNum.source}}</span>
        </li>
      </ul>
    </div>

    <div class="vizEach_content_comments">
        <div class="vizEach_content_comments_title">
          <div class="icon">
            <i class="fas fa-comments"></i>
          </div>
          <span class="text">Comments</span>
        </div>

        <div class="vizEach_content_comments_post">
          <textarea class="write-comments" type="text" name="write-comments" placeholder="Write comments..."></textarea>
          <div class="buttonarea">
            <button class="post-comments basic-button">Post</button>
            <button class="cancel-comments">Cancel</button>
          </div>
        </div>

        <ul class="vizEach_content_comments_history">
          <li class="vizEach_content_comments_history_each">
            <span class="post-user">Admin</span>
            <span class="post-date">20:02 Sep 21, 2019</span>
            <span class="post-cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere ullamcorper mauris sed tincidunt. Sed elit ex, pharetra vitae condimentum eu, convallis id ligula. Quisque sem turpis, dignissim vel magna eu, eleifend ornare lectus. </span>
          </li>
        </ul>

      </div>



</section>

<!-- data each side control panel -->
<aside class="vizEach_side">
  <div class="vizEach_side_layers">
    <div class="vizEach_side_layers_title">
      <i class="fas fa-layer-group"></i>
      <span class="title">Data Layers</span>
    </div>
    <div class="vizEach_side_layers_base">
      <span class="title">Base data</span>
      <span class="baseData">{{mpNum.title}} ({{mpNum.year}})</span>
    </div>
    <div class="vizEach_side_layers_options">
      <div class="vizEach_side_layers_options_title">
        Layering options
      </div>
      <ul class="vizEach_side_layers_options_content">
        <li id="mp1OverlaySelect" class="vizEach_side_layers_options_content_each">
          <div class="md-checkbox vizEach_side_layers_options_content_each_checkbox">
            <input id="mp1Overlay-input" type="checkbox">
            <label for="mp1Overlay-input">{{mp1Num.title}} ({{mp1Num.year}})</label>
          </div>
          <div class="vizEach_side_layers_options_content_each_legend">
            <div class="legend-controller" aria-selected="false">
              <i class="legend-arrow fas fa-angle-right"></i>
              <span class="legend-title">Legend (%)</span>
            </div>

            <table id="mp1-legend" class="legend-table" aria-hidden="true">
              <col width="16">
              <col width="">
              <tr class="value4 row">
                <td class="box"></td>
                <td class="text">70 < 80</td>
              </tr>
              <tr class="value3 row">
                <td class="box"></td>
                <td class="text">60 < 70</td>
              </tr>
              <tr class="value2 row">
                <td class="box"></td>
                <td class="text">50 < 60</td>
              </tr>
              <tr class="value1 row">
                <td class="box"></td>
                <td class="text">40 < 50</td>
              </tr>
              <tr class="noData row">
                <td class="box"></td>
                <td class="text">No data</td>
              </tr>
            </table>
          </div>
        </li>
        <li id="mp2OverlaySelect" class="vizEach_side_layers_options_content_each">
          <div class="md-checkbox vizEach_side_layers_options_content_each_checkbox">
            <input id="mp2Overlay-input" type="checkbox">
            <label for="mp2Overlay-input">{{mp2Num.title}} ({{mp2Num.year}})</label>
          </div>
        </li>
        <li id="mp3OverlaySelect" class="vizEach_side_layers_options_content_each">
          <div class="md-checkbox vizEach_side_layers_options_content_each_checkbox">
            <input id="mp3Overlay-input" type="checkbox">
            <label for="mp3Overlay-input">{{mp3Num.title}} ({{mp3Num.year}})</label>
          </div>
          <div class="vizEach_side_layers_options_content_each_legend">
            <div class="legend-controller" aria-selected="false">

              <i class="legend-arrow fas fa-angle-right"></i>

              <span class="legend-title">Legend (Type)</span>
            </div>

            <table id="mp3-legend" class="legend-table" aria-hidden="true">
              <col width="16">
              <col width="">
              <tr class="value7 row">
                <td class="box"></td>
                <td class="text">Allotments</td>
              </tr>
              <tr class="value6 row">
                <td class="box"></td>
                <td class="text">Farm</td>
              </tr>
              <tr class="value5 row">
                <td class="box"></td>
                <td class="text">Forest</td>
              </tr>
              <tr class="value4 row">
                <td class="box"></td>
                <td class="text">Grass</td>
              </tr>
              <tr class="value3 row">
                <td class="box"></td>
                <td class="text">Meadow</td>
              </tr>
              <tr class="value2 row">
                <td class="box"></td>
                <td class="text">Orchard</td>
              </tr>
              <tr class="value1 row">
                <td class="box"></td>
                <td class="text">Park</td>
              </tr>
              <tr class="noData row">
                <td class="box"></td>
                <td class="text">Not Identified</td>
              </tr>
            </table>
          </div>
        </li>
        <li id="mp4OverlaySelect" class="vizEach_side_layers_options_content_each">
          <div class="md-checkbox vizEach_side_layers_options_content_each_checkbox">
            <input id="mp4Overlay-input" type="checkbox">
            <label for="mp4Overlay-input">{{mp4Num.title}} ({{mp4Num.year}})</label>
          </div>
        </li>


      </ul>
    </div>
  </div>
  <div class="vizEach_side_analysis">
    <div class="vizEach_side_analysis_title">
      <i class="fas fa-calculator"></i>
      <span class="title">Data Analysis</span>
    </div>
    <div class="vizEach_side_analysis_tools">
      <ul class="vizEach_side_analysis_tools_box">
        <li class="dummy"></li>
        <li class="dummy"></li>
        <li class="dummy"></li>
      </ul>
    </div>
  </div>
</aside>
</main>

<script>
  const printSingleDataviz = document.getElementById('printSingleDataviz');
  printSingleDataviz.addEventListener('click', () => {
    window.print();
  });
</script>
<!-- javascripts -->
