<!-- Tooltips for the owner controlled data: mp(map), ln(line)...-->
<!-- TODO: Loop -->
<div class="mp1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="ln1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp2-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp3-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp4-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp5-tooltip data-tooltip" aria-hidden="true"></div>

<div class="main">
  <h1 class="main_title">Vitality Data Catalog</h1>
  <p class="main_desc"></p>
  <div class="main_dashboard grid-wrapper">
    <!-- Filter controls -->
    <div class="main_dashboard_controls filter-controls">

      <div class="main_dashboard_controls_search control">
        <div class="control-icon">
          <i class="fas fa-search"></i>
        </div>
        <input class="search-field form-control" type="text" name="search" placeholder="Search..." (change)="filterCards()" [(ngModel)]="filterInputString"/>
      </div>

      <div class="main_dashboard_controls_filter control">
        <div class="control-icon">
          <i class="fas fa-filter"></i>
        </div>

        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field1 form-control custom-select1" (change)="filterCards()" [(ngModel)]="filterCategoryString">
            <option value="" selected>All Categories</option>
            <!-- TODO: Loop -->
            <option value="Demographic">Demographic</option>
            <option value="Environment">Environment</option>
            <option value="Infrastructure">Infrastructure</option>
            <option value="Health">Health</option>
            <option value="Social">Social</option>
            <option value="Sports">Sports</option>
            <option value="Other">Other</option>
          </select>
          <div class="filter-arrow"></div>
        </div>
        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field2 form-control custom-select1" [(ngModel)]="filterTypeString" (change)="filterCards()">
            <option value="" selected>All Types</option>
            <option value="Visualization">Visualizations</option>
            <option value="Dataset">Datasets</option>
            <option value="Report">Reports</option>
            <option value="Web Page">Web Pages</option>
            <option value="Image/Graphic">Images/Graphics</option>
            <option value="Video">Videos</option>
            <option value="Document">Documents</option>
            <option value="Other">Others</option>
          </select>
          <div class="filter-arrow"></div>
        </div>

        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field3 form-control custom-select1" [(ngModel)]="filterAgeGroupString" (change)="filterCards()">
            <option value="" selected>All Age Groups</option>
            <option value="0-11">0-11</option>
            <option value="0-18">0-18</option>
            <option value="12-18">12-18</option>
            <option value="19-64">19-64</option>
            <option value="12+">12+</option>
            <option value="19+">19+</option>
            <option value="65+">65+</option>
          </select>
          <div class="filter-arrow"></div>
        </div>

      </div>

    </div>
    <!-- grid layout cards -->
    <!-- TODO refactor grid -->
    <div class="main-dashboard-container">
      <!-- repeat the process by the number of dataset in metadata -->
        <ng-container *ngFor="let i of showData">
          <!-- If data is publicly accessible -->
          <div class="item">
            <app-card [cardData]="i"></app-card>
          </div>
        </ng-container>
    </div>
  </div>
</div>
