<!-- Tooltips for the owner controlled data: mp(map), ln(line)...-->
<!-- TODO: Loop -->
<div class="mp1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="ln1-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp2-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp3-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp4-tooltip data-tooltip" aria-hidden="true"></div>
<div class="mp5-tooltip data-tooltip" aria-hidden="true"></div>

<div class="main">
  <h1 class="main_title">Vitality Data Catalog</h1>
  <p class="main_desc"></p>
  <div class="main_dashboard grid-wrapper">
    <!-- Filter controls -->
    <div class="main_dashboard_controls filter-controls">

      <div class="main_dashboard_controls_search control">
        <div class="control-icon">
          <i class="fas fa-search"></i>
        </div>
        <input class="search-field form-control" type="text" name="search" placeholder="Search..." (change)="filterCards()" [(ngModel)]="filterInput"/>
      </div>

      <div class="main_dashboard_controls_filter control">
        <div class="control-icon">
          <i class="fas fa-filter"></i>
        </div>

        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field1 form-control custom-select1" (change)="filterCards()" [(ngModel)]="filterCategory">
            <option value="" selected>All Categories</option>
            <!-- TODO: Loop -->
            <option value="Demographic">Demographic</option>
            <option value="Environment">Environment</option>
            <option value="Infrastructure">Infrastructure</option>
            <option value="Health">Health</option>
            <option value="Social">Social</option>
            <option value="Sports">Sports</option>
            <option value="Other">Other</option>
          </select>
          <div class="filter-arrow"></div>
        </div>
        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field2 form-control custom-select1" [(ngModel)]="filterType" (change)="filterCards()">
            <option value="" selected>All Types</option>
            <option value="Visualization">Visualizations</option>
            <option value="Dataset">Datasets</option>
            <option value="Report">Reports</option>
            <option value="Web Page">Web Pages</option>
            <option value="Image/Graphic">Images/Graphics</option>
            <option value="Video">Videos</option>
            <option value="Document">Documents</option>
            <option value="Other">Others</option>
          </select>
          <div class="filter-arrow"></div>
        </div>

        <div class="main_dashboard_controls_filter_select">
          <select class="filter-field3 form-control custom-select1" [(ngModel)]="filterAgeGroup" (change)="filterCards()">
            <option value="" selected>All Age Groups</option>
            <option value="0-11">0-11</option>
            <option value="0-18">0-18</option>
            <option value="12-18">12-18</option>
            <option value="19-64">19-64</option>
            <option value="12+">12+</option>
            <option value="19+">19+</option>
            <option value="65+">65+</option>
          </select>
          <div class="filter-arrow"></div>
        </div>

      </div>

    </div>
    <!-- grid layout cards -->
    <!-- TODO refactor grid -->
    <div class="main_dashboard_container grid">
      <!-- repeat the process by the number of dataset in metadata -->
      <ng-container *ngFor="let i of showData">
        <!-- If data is publicly accessible -->
        <ng-container *ngIf="i.access == 'Public'">
          <!-- TODO refactor cards -->
          <section  class="item">
            <div class="dataCard">
              <div class="dataCard_item">
                <div class="dataCard_item_title title-drag">
                  <ng-container *ngIf="i.file.indexOf('mp') !== -1; else noLink">
                    <a routerLink="./visualization" (click)="saveObjForVisualizationPage(i.id)">
                      <h2 class="text tittle">{{i.title}} ({{i.year}})</h2>
                    </a>
                  </ng-container>
                  <ng-template #noLink>
                    <h2 class="text tittle">{{i.title}} ({{i.year}})</h2>
                  </ng-template>
                  <div class="hinder"></div>
                  <div class="icon">
                    <ng-container *ngIf="i.type == 'Visualization' else link">
                      <i class="fas fa-eye"></i>
                    </ng-container>
                    <ng-template #link>
                      <ng-container *ngIf="i.type == 'link' || i.type == 'Web Page' || i.type == 'Image/Graphic'; else otherIcon">
                        <i class="fas fa-link"></i>
                      </ng-container>
                    </ng-template>
                    <ng-template #otherIcon>
                      <i class="fas fa-database"></i>
                    </ng-template>
                  </div>
                </div>
                <!-- Only for visualizations -->
                <ng-container *ngIf="i.type == 'Visualization'">
                  <div id="{{i.file}}" class="dataCard_item_canvas"><!-- datavis comes here --></div>
                  <!-- Only for "map" visualizations -->
                  <ng-container *ngIf="i.file.indexOf('mp') !== -1">
                    <!-- if the name of file contains "mp" -->
                    <div class="mp-layers" aria-hidden="true">
                      <ul class="mp-layers_list" id="on{{i.file}}"></ul>
                    </div>
                    <div id="{{i.file}}-loader" class="loader" aria-hidden="false">
                      <span class="loader_spin" style="background-image: url(../../../assets/images/loader.png)"></span>
                    </div>
                    <div class="map_legend" id="{{i.file}}-legend" aria-hidden="false">
                      <!-- add by js -->
                      <ng-container *ngIf="i.file == 'mp1';">
                        <span class="map_legend_title">Legend (%)</span>
                        <table class="map_legend_table">
                          <col width="16">
                          <col width="">
                          <tr class="value4 row">
                            <td class="box"></td>
                            <td class="text">70 < 80</td>
                          </tr>
                          <tr class="value3 row">
                            <td class="box"></td>
                            <td class="text">60 < 70</td>
                          </tr>
                          <tr class="value2 row">
                            <td class="box"></td>
                            <td class="text">50 < 60</td>
                          </tr>
                          <tr class="value1 row">
                            <td class="box"></td>
                            <td class="text">40 < 50</td>
                          </tr>
                          <tr class="noData row">
                            <td class="box"></td>
                            <td class="text">No data</td>
                          </tr>
                        </table>
                      </ng-container>
                      <ng-container *ngIf="i.file == 'mp3'">
                        <span class="map_legend_title">Legend (Type)</span>
                        <table class="map_legend_table">
                          <col width="16">
                          <col width="">
                          <tr class="value7 row">
                            <td class="box"></td>
                            <td class="text">Allotments</td>
                          </tr>
                          <tr class="value6 row">
                            <td class="box"></td>
                            <td class="text">Farm</td>
                          </tr>
                          <tr class="value5 row">
                            <td class="box"></td>
                            <td class="text">Forest</td>
                          </tr>
                          <tr class="value4 row">
                            <td class="box"></td>
                            <td class="text">Grass</td>
                          </tr>
                          <tr class="value3 row">
                            <td class="box"></td>
                            <td class="text">Meadow</td>
                          </tr>
                          <tr class="value2 row">
                            <td class="box"></td>
                            <td class="text">Orchard</td>
                          </tr>
                          <tr class="value1 row">
                            <td class="box"></td>
                            <td class="text">Park</td>
                          </tr>
                          <tr class="noData row">
                            <td class="box"></td>
                            <td class="text">Not Identified</td>
                          </tr>
                        </table>
                      </ng-container>
                      <ng-container *ngIf="i.file == 'mp5'">
                        <div class="content"></div>
                        <div class="labels">
                          <span class="labels_low">Low</span>
                          <span class="labels_mod">Moderate</span>
                          <span class="labels_high">High</span>
                        </div>
                      </ng-container>

                    </div>
                    <!-- selection for air quality data -->
                    <ng-container *ngIf="i.file == 'mp5'">
                      <div id="mp5filter" class="filter-general">
                        <div class="filter-general_select">
                          <select id="mp5select">
                            <option value="PM1">PM1</option>
                            <option value="PM2.5">PM2.5</option>
                            <option value="PM10">PM10</option>
                            <option value="UFP">UFP</option>
                            <option value="Ozone">Ozone</option>
                            <option value="NO2">NO2</option>
                          </select>
                          <div class="filter-arrow"></div>
                        </div>
                      </div>
                    </ng-container>
                    <!-- Ends-Only for "map" visualizations -->

                    <i class="dataCard_item_infoBtn fas fa-info-circle fa-lg" aria-selected="false"></i>

                    <!-- Ends-Only for visualizations -->
                  </ng-container>

                </ng-container>
                <!-- Different size for visualization cards and aria-hidden for default -->
                <ng-container *ngIf="i.type == 'Visualization'; else ariaHiddenFalse">
                  <div class="dataCard_item_info visualization" aria-hidden="true">
                    <ul class="dataCard_item_info_cont">

                      <!-- description -->
                      <li class="dataCard_item_info_cont_desc">
                        <ng-container *ngIf="i.type != 'Visualization'">
                          <div class="descImage">

                            <!-- TODO: consider different extensions -->
                            <ng-container *ngIf="i.image != ''; else otherBackgroundImg">
                              <span class="descImage_inner" [ngStyle]="{ 'background-image': 'url(../../../assets/images/data/' + i.image + '.png)'}"></span>
                            </ng-container>
                            <ng-template #otherBackgroundImg>
                              <ng-container *ngIf="i.type == 'link'; else typeDataset">
                              <span class="descImage_inner" style="background-image: url(../../../assets/images/data/link.png)"></span>
                              </ng-container>
                              <ng-template #typeDataset>
                                <ng-container *ngIf="i.type == 'dataset'">
                                  <span class="descImage_inner" style="background-image: url(../../../assets/images/data/dataset.png)"></span>
                                </ng-container>
                              </ng-template>
                            </ng-template>
                          </div>
                        </ng-container>
                        {{i.description}}
                      </li>

                      <!-- contributor -->
                      <li class="dataCard_item_info_cont_contributor">
                        <div class="descHinder"></div>
                        <div class="post">
                          <span class="post_title">Posted on</span>
                          <span class="post_date">moment({{i.created}}).format('ll')</span> <!-- Need to use moment here...-->
                        </div>
                        <div class="user">
                      <span class="user_image">

                        <!-- TODO consider different extensions -->

                        <span class="avatar-s" style="background-image: url(../../../assets/images/avatar/user.png)"></span>

                      </span>

                          <span class="user_text">Organization's name</span>

                          <div class="hinder"></div>
                        </div>
                      </li>
                      <!-- action -->
                      <li class="dataCard_item_info_cont_action">
                        <div class="dataCard_item_info_cont_action_left">
                          <div class="access">
                        <span class="access_icon">
                          <i class="fas fa-globe"></i>
                        </span>
                            <span class="access_text">Public</span>
                          </div>
                          <!-- add download later -->
                          <ng-container *ngIf="i.type == 'Link' || i.type == 'Web Page' || i.type == 'Image/Graphic' else otherType">
                            <a href="{{i.file}}>" class="link-download" target="_blank">
                              <div class="icon">
                                <i class="fa fa-external-link-alt"></i>
                              </div>
                              <div class="format">
                                <span class="format_header">Format: </span>
                                <span class="format_name">{{i.format}}</span>
                              </div>
                            </a>
                          </ng-container>
                          <ng-template #otherType>
                            <a href="../../../assets/datasets/{{i.file}}.{{i.format}}" class="link-download" download="{{i.id}}" >
                              <div class="icon">
                                <i class="fas fa-download"></i>
                              </div>
                              <div class="format">
                                <span class="format_header">Format: </span>
                                <span class="format_name">{{i.format}}</span>
                              </div>
                            </a>
                          </ng-template>
                        </div>
                        <div class="dataCard_item_info_cont_action_right">
                          <div class="contact" aria-disabled="true">
                            <!-- add action here later -->
                            <i class="fas fa-envelope"></i>
                          </div>
                        </div>
                        <div class="hinder"></div>
                      </li>
                      <!-- source -->
                      <li class="dataCard_item_info_cont_source">
                        <span class="header">Source:</span>
                        <span class="content">{{i.source}}</span>
                        <span class="hinder"></span>
                      </li>
                    </ul>
                  </div>
                </ng-container>
                <ng-template #ariaHiddenFalse>
                  <div class="dataCard_item_info" aria-hidden="false">
                    <ul class="dataCard_item_info_cont">

                      <!-- description -->
                      <li class="dataCard_item_info_cont_desc">
                        <ng-container *ngIf="i.type != 'Visualization'">
                          <div class="descImage">

                            <!-- TODO: consider different extensions -->
                            <ng-container *ngIf="i.image != ''; else otherBackgroundImg">
                              <span class="descImage_inner" [ngStyle]="{ 'background-image': 'url(../../../assets/images/data/' + i.image + '.png)'}"></span>
                            </ng-container>
                            <ng-template #otherBackgroundImg>
                              <ng-container *ngIf="i.type == 'link'; else typeDataset">
                                <span class="descImage_inner" style="background-image: url(../../../assets/images/data/link.png)"></span>
                              </ng-container>
                              <ng-template #typeDataset>
                                <ng-container *ngIf="i.type == 'dataset'">
                                  <span class="descImage_inner" style="background-image: url(../../../assets/images/data/dataset.png)"></span>
                                </ng-container>
                              </ng-template>
                            </ng-template>
                          </div>
                        </ng-container>
                        {{i.description}}
                      </li>

                      <!-- contributor -->
                      <li class="dataCard_item_info_cont_contributor">
                        <div class="descHinder"></div>
                        <div class="post">
                          <span class="post_title">Posted on</span>
                          <span class="post_date">moment({{i.created}}).format('ll')</span> <!-- Need to use moment here...-->
                        </div>
                        <div class="user">
                      <span class="user_image">

                        <!-- TODO consider different extensions -->

                        <span class="avatar-s" style="background-image: url(../../../assets/images/avatar/user.png)"></span>

                      </span>

                          <span class="user_text">Organization's name</span>

                          <div class="hinder"></div>
                        </div>
                      </li>
                      <!-- action -->
                      <li class="dataCard_item_info_cont_action">
                        <div class="dataCard_item_info_cont_action_left">
                          <div class="access">
                        <span class="access_icon">
                          <i class="fas fa-globe"></i>
                        </span>
                            <span class="access_text">Public</span>
                          </div>
                          <!-- add download later -->
                          <ng-container *ngIf="i.type == 'Link' || i.type == 'Web Page' || i.type == 'Image/Graphic' else otherType">
                            <a href="{{i.file}}>" class="link-download" target="_blank">
                              <div class="icon">
                                <i class="fa fa-external-link-alt"></i>
                              </div>
                              <div class="format">
                                <span class="format_header">Format: </span>
                                <span class="format_name">{{i.format}}</span>
                              </div>
                            </a>
                          </ng-container>
                          <ng-template #otherType>
                            <a href="../../../assets/datasets/{{i.file}}.{{i.format}}" class="link-download" download="{{i.id}}" >
                              <div class="icon">
                                <i class="fas fa-download"></i>
                              </div>
                              <div class="format">
                                <span class="format_header">Format: </span>
                                <span class="format_name">{{i.format}}</span>
                              </div>
                            </a>
                          </ng-template>
                        </div>
                        <div class="dataCard_item_info_cont_action_right">
                          <div class="contact" aria-disabled="true">
                            <!-- add action here later -->
                            <i class="fas fa-envelope"></i>
                          </div>
                        </div>
                        <div class="hinder"></div>
                      </li>
                      <!-- source -->
                      <li class="dataCard_item_info_cont_source">
                        <span class="header">Source:</span>
                        <span class="content">{{i.source}}</span>
                        <span class="hinder"></span>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </div>
            </div>
          </section>
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<style>
  .tittle {
    color: white;
  }
</style>
