<div class="dataUpload">
  <div class="content">
    <h1 class="title">Upload a new dataset</h1>
    <p>The Vitality Living Lab DataSystem is currently in a beta state, which means we can only accept GeoJSON datasets.</p>
    <p class="italic">* = Required field</p>
    <div class="card">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="dataTitle" class="control-label" placeholder="">Title *</label>
          <input type="text" name="dataTitle" formControlName="dataTitle" required>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataYear" class="control-label" >Year *</label>
          <input type="text" placeholder="YYYY or YYYY-YYYY (e.g. 2000-2029)" name="dataYear" formControlName="dataYear" required>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataDesc" class="control-label">Description *</label>
          <textarea name="dataDesc" formControlName="dataDesc" required></textarea>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataAgeGroup" class="control-label">Age group of data *</label>
          <select name="dataAgeGroup" formControlName="dataAgeGroup" required>
            <option name="All" value="All" >All</option>
            <option name="0-11" value="0-11">0-11</option>
            <option name="0-18" value="0-18">0-18</option>
            <option name="12-18" value="12-18">12-18</option>
            <option name="19-64" value="19-64">19-64</option>
            <option name="12+" value="12+">12+</option>
            <option name="19+" value="19+">19+</option>
            <option name="65+" value="65+">65+</option>
            <option name="N/A" value="N/A">N/A</option>
          </select>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataCateg" class="control-label">Category *</label>
          <select name="dataCateg" formControlName="dataCateg" required>
            <option name="Demographic" value="Demographic">Demographic</option>
            <option name="Environment" value="Environment">Environment</option>
            <option name="Infrastructure" value="Infrastructure">Infrastructure</option>
            <option name="Health" value="Health">Health</option>
            <option name="Social" value="Social">Social</option>
            <option name="Sports" value="Sports">Sports</option>
            <option name="Others" value="Others">Others</option>
          </select>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataType" class="control-label">Type *</label>
          <select name="dataType" formControlName="dataType" required>
            <option name="Dataset" value="Dataset">Dataset</option>
            <option name="Report" value="Report">Report</option>
            <option name="Webpage" value="Webpage">Web Page</option>
            <option name="Visualization" value="Visualization">Image/Graphic</option>
            <option name="Video" value="Video">Video</option>
            <option name="Document" value="Document">Document</option>
            <option name="Others" value="Others">Others</option>
          </select>
          <i class="bar"></i>
        </div>
        
        <div class="form-group">
          <label for="dataFormat" class="control-label" >Format *</label>
          <input type="text" placeholder="CSV etc. (CSV/PDF/... for multiple formats)" name="dataFormat" formControlName="dataType" required>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataSource" class="control-label" placeholder="">Source *</label>
          <input type="text" name="dataSource" formControlName="dataSource" required>
          <i class="bar"></i>
        </div>

        <div class="form-group">
          <label for="dataLink" class="control-label" placeholder="">Link URL *</label>
          <input type="text" name="dataLink" formControlName="dataLink">
          <i class="bar"></i>
        </div>

        <div class="form-title">Thumbnail</div>
        <div class="thumbnail-upload uk-placeholder uk-text-center dropzone">
          <span uk-icon="icon: cloud-upload"></span>
          <span class="uk-text-middle">Attach a thumbnail by dropping it here or by</span>
          <div uk-form-custom>
              <input type="file">
              <span class="uk-link">selecting a file</span>
          </div>
        </div>  

        <div class="form-title">Access Permission *</div>
        <div class="form-radio" style="margin-top: 24px;">
          <div class="radio">
            <label>
              <input type="radio" name="dataAccess" formControlName="dataAccess" value="Public" checked="checked"><i class="helper"></i>Public (Data is shared in public)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="dataAccess" formControlName="dataAccess" value="Private"><i class="helper"></i>Private (Data is only accessed by you)
            </label>
          </div>
        </div>

        <div class="form-title">Data Upload</div>
        <div class="dataset-upload uk-placeholder uk-text-center dropzone">
          <span uk-icon="icon: cloud-upload"></span>
          <span class="uk-text-middle">Attach the dataset by dropping it here or by</span>
          <div uk-form-custom>
              <input type="file">
              <span class="uk-link">selecting a file</span>
          </div>
        </div>      
        
        <div class="button-container">
          <button type="submit" class="basic-button blue">Upload data</button>
        </div>
      </form>

    </div>
  </div>
</div>
