.register {
  margin: 0 auto;
  padding: 80px 24px 40px 24px;
  width: 400px;
  margin-left: calc(50% - 240px);
}

@media screen and (max-width: 528px) {
  .register {
    padding: 40px 24px 30px 24px;
    width: 100%;
  }
}

.title {
  font-size: 24pt;
  font-weight: lighter;
  margin: 0;
}

.register_input .inputTitle {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #999;
  margin: 0;
  margin-top: 2em;

  &.noticeRequired {
    margin: 1em 0 0 0;
  }
}

.genericNotice {
  font-size: 13px;
}

.register_alt {
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}

.register_alt a {
  text-decoration: none;
}

input[type=text],
input[type=password] {
  margin: 0;
}