/* TODO: Extract styles that are only relevant to certain components to their component-specific stylesheets */

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,444444+100&0+0,1+100 */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #222;
  stroke-linejoin: round;
  stroke-linecap: round;
}

*, *:before, *:after {
  box-sizing: border-box;
}

[aria-hidden="true"] {
  visibility: hidden;
  -webkit-animation: hide 0.5s linear;
          animation: hide 0.5s linear;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

[aria-hidden="false"] {
  visibility: visible;
  -webkit-animation: show 0.2s linear;
          animation: show 0.2s linear;
}

[aria-disabled="true"] {
  color: #d4d4d4;
}

[aria-disabled="true"] i {
  color: #d4d4d4;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.basic-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.basic-button.blue {
  background-color: #24a0ed;
}

.basic-button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.basic-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* Ripple */
.basic-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
}

/* Hover, Focus */
.basic-button:hover,
.basic-button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.basic-button:hover::before {
  opacity: 0.08;
}

.basic-button:focus::before {
  opacity: 0.24;
}

.basic-button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.basic-button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.basic-button:active::after {
  opacity: 0.32;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

/* Disabled */
.basic-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

.basic-button:disabled::before {
  opacity: 0;
}

.basic-button:disabled::after {
  opacity: 0;
}

.custom-select1 {
  position: relative;
}

.custom-select1 select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.md-checkbox {
  position: relative;
  margin: 12px 0;
  text-align: left;
  display: table;
}

.md-checkbox.md-checkbox-inline {
  display: inline-block;
}

.md-checkbox label {
  cursor: pointer;
  display: table-cell;
  line-height: 1.2em;
  vertical-align: top;
  font-size: 14px;
}

.md-checkbox label:not(:empty) {
  padding-left: 6px;
}

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.md-checkbox label:before {
  width: 1em;
  height: 1em;
  background: #fff;
  border: 2px solid #999;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1em;
  margin: 0;
  display: table-cell;
  font-size: inherit;
}

.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #f37021;
  border: none;
}

.md-checkbox input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(0.25em, 0.30769em) rotate(-45deg);
          transform: translate(0.25em, 0.30769em) rotate(-45deg);
  width: 0.5em;
  height: 0.25em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #d4d4d4;
}

.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: #d4d4d4;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 13px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 13px rgba(0, 0, 0, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 13px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 13px rgba(0, 0, 0, 0);
  }
}

.md-radio {
  margin: 8px 0;
}

.md-radio.md-radio-inline {
  display: inline-block;
}

.md-radio input[type="radio"] {
  display: none;
}

.md-radio input[type="radio"]:checked + label:before {
  border-color: #f37021;
  -webkit-animation: ripple 0.2s linear forwards;
          animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.md-radio label {
  display: inline-block;
  min-height: 14px;
  position: relative;
  padding: 0 20px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
  font-size: 12px;
}

.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
}

.md-radio label:before {
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #999;
}

.md-radio label:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #f37021;
}

body {
  position: relative;
}

/* index */
#page-hinder {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

#wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}

.loader {
  background-color: rgba(242, 242, 242, 0.9);
  width: 100%;
  height: calc(100% - 40px);
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1000;
}

.loader[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 1s, opacity 1s linear;
  transition: visibility 0s 1s, opacity 1s linear;
}

.loader_spin {
  display: block;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.pointer-release {
  pointer-events: auto !important;
}

.data-tooltip {
  width: auto;
  position: fixed;
  font-size: 12px;
  padding: 6px 8px 6px 8px;
  z-index: 500;
  pointer-events: none;
  color: #222;
  background: #fff;
  border: 1px solid #999;
  text-align: left;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #999;
  line-height: 12px;
}

.data-tooltip[aria-hidden="false"] {
  visibility: visible;
}

.data-tooltip[aria-hidden="true"] {
  visibility: hidden;
}

.data-tooltip span {
  display: block;
}

.main {
  height: auto;
  padding: 0 16px 40px;
}

@media (max-width: 599px) {
  .main {
    padding: 0 24px 40px;
  }
}

.main_title {
  font-size: 32px;
  padding-left: 8px;
}

.main_dashboard_controls {
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-bottom: 16px;
}

.main_dashboard_controls_search {
  display: inline-block;
}

@media (max-width: 599px) {
  .main_dashboard_controls_search {
    display: block;
  }
}

.main_dashboard_controls_search input {
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #d4d4d4;
  height: 32px;
}

.main_dashboard_controls_search input.search-field {
  width: 270px;
  margin-right: 8px;
}

.main_dashboard_controls_search input:hover {
  cursor: pointer;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #999;
}

.main_dashboard_controls_filter {
  display: inline-block;
  width: auto;
  line-height: 0;
}

@media (max-width: 599px) {
  .main_dashboard_controls_filter {
    display: block;
    margin-top: 16px;
  }
}

.main_dashboard_controls_filter_select {
  position: relative;
  display: inline-block;
  width: 270px;
  margin-right: 4px;
}

.main_dashboard_controls_filter_select select {
  height: 34px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 4px 12px;
  outline: 0;
  border-radius: 0;
  background: #f2f2f2;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #f2f2f2;
}

.main_dashboard_controls_filter_select select::-ms-expand {
  display: none;
}

.main_dashboard_controls_filter_select select:hover, .main_dashboard_controls_filter_select select:focus {
  color: #000;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #d4d4d4;
}

.main_dashboard_controls_filter_select .filter-arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  border-color: #7b7b7b transparent transparent;
}

.main_dashboard_controls_filter_select select:hover ~ .filter-arrow,
.main_dashboard_controls_filter_select select:focus ~ .filter-arrow {
  -webkit-transition: border-top-color 0.5s ease;
  transition: border-top-color 0.5s ease;
  border-top-color: #222;
}

// Only used for mp5 in card and vis component
.filter-general#mp5filter {
  position: absolute;
  top: 44px;
  right: 40px;
  z-index: 1000;
}

.filter-general_select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-right: 4px;
}

.filter-general_select select {
  height: 36px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 4px 12px;
  outline: 0;
  border-radius: 0;
  background: #fff;
  color: #222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #d4d4d4;
}

.filter-general_select select::-ms-expand {
  display: none;
}

.filter-general_select select:hover, .filter-general_select select:focus {
  color: #000;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid #d4d4d4;
}

.filter-general_select .filter-arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  border-color: #7b7b7b transparent transparent;
}

.filter-general_select select:hover ~ .filter-arrow,
.filter-general_select select:focus ~ .filter-arrow {
  -webkit-transition: border-top-color 0.5s ease;
  transition: border-top-color 0.5s ease;
  border-top-color: #222;
}

.title-drag {
  cursor: -webkit-grab;
  cursor: grab;
}

.muuri-item-dragging {
  z-index: 3;
}

.control-icon {
  display: inline-block;
  margin-right: 4px;
  color: #666;
}

.search-field {
  display: inline-block;
  margin-right: 12px;
  width: 260px;
  height: 28px;
  padding-left: 8px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 8px 12px;
  display: inline-block;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 2px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
.vizEach {
  width: 100%;
  padding: 0px 24px 60px 24px;
  display: -webkit-box;
  display: flex;
}

.vizEach_content {
  width: calc(100% - 280px);
  padding-right: 20px;
  height: 100%;
}

.vizEach_content_title .text {
  font-size: 24px;
  margin: 0px;
  padding: 16px 0px;
}

.vizEach_content_visframe {
  height: 612px;
  background: #d4d4d4;
  padding: 6px;
  border-radius: 2px;
  position: relative;
}

.vizEach_content_visframe_canvas {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: 600px;
}

.vizEach_content_visframe_canvas .leaflet-left {
  margin-top: 0px;
}

.vizEach_content_visframe .loader {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.vizEach_content_visframe #mp5filter {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 500;
}

.vizEach_content_info {
  margin-top: 8px;
}

.vizEach_content_info_cont_contributor {
  display: table;
  width: auto;
  height: 42px;
}

.vizEach_content_info_cont_contributor .post {
  height: 42px;
  display: table-cell;
  vertical-align: middle;
}

.vizEach_content_info_cont_contributor .post_title {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.vizEach_content_info_cont_contributor .post_date {
  font-size: 16px;
}

.vizEach_content_info_cont_contributor .user {
  display: table-cell;
  width: auto;
  height: 42px;
}

.vizEach_content_info_cont_contributor .user_cont {
  height: 42px;
  width: auto;
  display: table;
  margin-left: 16px;
  table-layout: fixed;
}

.vizEach_content_info_cont_contributor .user_cont_image {
  width: 42px;
  height: 42px;
  display: table-cell;
  vertical-align: middle;
}

.vizEach_content_info_cont_contributor .user_cont_image .avatar-s {
  display: block;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
}

.vizEach_content_info_cont_contributor .user_cont_text {
  display: table-cell;
  vertical-align: middle;
  height: 42px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}

.vizEach_content_info_cont_contributor .contact {
  display: table-cell;
  width: auto;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 16px;
}

.vizEach_content_info_cont_desc {
  border-top: 1px solid #d4d4d4;
  padding-top: 20px;
}

.vizEach_content_info_cont_desc .desc-head {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}

.vizEach_content_info_cont_desc .desc-cont {
  margin-top: 6px;
}

.vizEach_content_info_cont_utility {
  margin-top: 16px;
  height: 20px;
}

.vizEach_content_info_cont_utility .access {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.vizEach_content_info_cont_utility .access i {
  color: #999;
  font-size: 20px;
}

.vizEach_content_info_cont_utility .access_text {
  font-size: 16px;
  margin-left: 4px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.vizEach_content_info_cont_utility .link-download {
  display: inline-block;
  margin-left: 8px;
  border-left: 1px solid #999;
  padding-left: 8px;
  text-decoration: none;
}

.vizEach_content_info_cont_utility .link-download .icon {
  width: auto;
  display: inline-block;
  margin-left: 4px;
}

.vizEach_content_info_cont_utility .link-download .icon i {
  font-size: 20px;
  color: #666;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.vizEach_content_info_cont_utility .link-download .format {
  padding-left: 4px;
  display: inline-block;
  font-size: 16px;
  margin-left: 4px;
  height: 20px;
  vertical-align: middle;
}

.vizEach_content_info_cont_utility .link-download .format_header {
  font-weight: bold;
  color: #999;
}

.vizEach_content_info_cont_utility .link-download .format_name {
  color: #222;
}

.vizEach_content_info_cont_utility .link-download:hover {
  cursor: pointer;
}

.vizEach_content_info_cont_utility .link-download:hover i {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #f37021;
}

.vizEach_content_info_cont_utility .print {
  display: inline-block;
  border-left: 1px solid #999;
  margin-left: 8px;
  padding-left: 12px;
  vertical-align: middle;
}

.vizEach_content_info_cont_utility .print i {
  font-size: 20px;
  color: #666;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.vizEach_content_info_cont_utility .print .text {
  font-size: 16px;
  margin-left: 4px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.vizEach_content_info_cont_utility .print:hover {
  cursor: pointer;
}

.vizEach_content_info_cont_utility .print:hover i {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #f37021;
}

.vizEach_content_info_cont_source {
  margin-top: 16px;
}

.vizEach_content_info_cont_source .header {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

.vizEach_content_info_cont_source .content {
  display: block;
  margin-top: 4px;
}

.vizEach_content_comments {
  width: 100%;
  border-top: 1px solid #999;
  margin-top: 24px;
  padding-top: 16px;
}

.vizEach_content_comments_title .icon {
  display: inline-block;
}

.vizEach_content_comments_title .icon i {
  color: #666;
  font-size: 20px;
}

.vizEach_content_comments_title .text {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.vizEach_content_comments_post {
  margin-top: 24px;
}

.vizEach_content_comments_post textarea {
  display: block;
  height: 100px;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.vizEach_content_comments_post .buttonarea .cancel-comments {
  text-decoration: none;
  color: #666;
}

.vizEach_content_comments_post .buttonarea .post-comments {
  background-color: #0070c9;
  margin-right: 12px;
  padding-left: 32px;
  padding-right: 32px;
}

.vizEach_content_comments_history {
  margin-top: 32px;
}

.vizEach_content_comments_history .post-user {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #666;
}

.vizEach_content_comments_history .post-date {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-left: 4px;
}

.vizEach_content_comments_history .post-cont {
  display: block;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 13px;
  font-size: 16px;
  color: #666;
  margin-top: 8px;
}

.vizEach_side {
  width: 280px;
  height: auto;
  margin-top: 59px;
  background-color: #FFF9EF;
  border: 1px solid #999;
}

.vizEach_side_layers {
  padding: 12px;
}

.vizEach_side_layers_title i {
  font-size: 20px;
  display: inline-block;
}

.vizEach_side_layers_title .title {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-left: 4px;
}

.vizEach_side_layers_base {
  margin-top: 20px;
}

.vizEach_side_layers_base .title {
  color: #999;
  font-weight: bold;
  font-size: 12px;
  display: block;
}

.vizEach_side_layers_base .baseData {
  font-size: 16px;
  display: block;
  color: #f37021;
  margin-top: 4px;
}

.vizEach_side_layers_options {
  margin-top: 16px;
}

.vizEach_side_layers_options_title {
  color: #999;
  font-size: 12px;
  padding: 4px 0;
  border-bottom: 1px solid #d4d4d4;
}

.vizEach_side_layers_options_content_each_checkbox {
  margin: 12px 0px 6px 0px;
}

.vizEach_side_layers_options_content_each_checkbox label {
  font-weight: bold;
}

.vizEach_side_layers_options_content_each_radio {
  margin-left: 22px;
}

.vizEach_side_layers_options_content_each_legend {
  margin-left: 22px;
}

.vizEach_side_layers_options_content_each_legend .legend-controller {
  height: 16px;
  font-size: 14px;
}

.vizEach_side_layers_options_content_each_legend .legend-controller:hover {
  cursor: pointer;
}

.vizEach_side_layers_options_content_each_legend .legend-controller[aria-selected="true"] .legend-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.vizEach_side_layers_options_content_each_legend .legend-controller .legend-arrow {
  display: block;
  float: left;
  height: 16px;
  margin-right: 4px;
}

.vizEach_side_layers_options_content_each_legend .legend-controller .legend-title {
  display: block;
  float: left;
  height: 16px;
}

.vizEach_side_layers_options_content_each_legend .legend-table {
  margin-top: 8px;
  border-collapse: collapse;
}

.vizEach_side_layers_options_content_each_legend .legend-table .box {
  border: 1px solid #bbb;
}

.vizEach_side_layers_options_content_each_legend .legend-table .text {
  font-size: 10px;
  padding-left: 6px;
}

.vizEach_side_layers_options_content_each_legend .legend-table[aria-hidden="false"] {
  height: 100%;
  -webkit-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.vizEach_side_layers_options_content_each_legend .legend-table[aria-hidden="true"] {
  height: 0px;
  display: none;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}

.vizEach_side_analysis {
  padding: 12px;
  border-top: 1px solid #999;
  margin-top: 24px;
}

.vizEach_side_analysis_title i {
  font-size: 20px;
  display: inline-block;
}

.vizEach_side_analysis_title .title {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-left: 4px;
}

.vizEach_side_analysis_tools {
  margin-top: 12px;
}

.vizEach_side_analysis_tools_box {
  margin-top: 12px;
}

.vizEach_side_analysis_tools_box .dummy {
  width: 100%;
  height: 16px;
  background-color: #d3d3d3;
  margin-top: 12px;
}

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
  z-index: -1;
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.success_link {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
}

.flex {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
  
  &.row {
    flex-flow: row nowrap;
  }
  
  &.column {
    flex-flow: column nowrap;
  }
}

.fw {
  width: 100%;
}

.barred {
  border-top: #333 1px solid;
  border-bottom: #333 1px solid;
}

// Message for classes inheriting from Messenger.ts
.message {
  font-size: 12pt;
  transition: 1500ms opacity ease-in-out;
  opacity: 1;
  margin-left: 2px;
  white-space: break-spaces;

  &.good {
    color: #2f882f;
  }

  &.bad {
    color: #d23b3b;
  }
  
  &.neutral {
    color: #999;
  }

  &.hidden {
    opacity: 0;
  }
}

/* Form spinner and blurring */
[uk-spinner] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  z-index: 100;
  background-color: rgba(0,0,0,0.5) !important;
  color: #FFF;
}

[uk-spinner] svg,
[uk-spinner] svg > circle {
  color: #FFF !important;
  stroke-width: 1px;
}

[uk-spinner].idle {
  display: none !important;
}

[uk-spinner].loading {
  display: flex !important;
}

form.loading {
  filter: blur(15px);
}

form.idle {
  filter: blur(0px);
}